.layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    min-width: 1200px;

    .header {
        margin-bottom: 10px;
    }

    .content {
        min-width: 800px;
        margin: 0 200px;
    }
}