@import "../../styles/colors";

.todo-profile-page {
  margin: 20px;
  display: flex;
  flex-direction: column;

  .action-panel {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-left: 15px;
      padding: 0;
      border: 0;
    }
  }

  .action-panel,
  .title,
  .chb-done {
    margin-bottom: 10px;
  }

  .description {
    height: 500px;
    resize: none;
    border: 1px solid $color_grey;

    &:focus {
      border: 1px solid $color_blue;
    }
  }
}