.category-modal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 145px;

    .actions {
        align-self: flex-end;

        .btn {
            margin-left: 10px;
        }
    }
}
