@import "../../styles/colors";

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .show-done-chb {
    width: 200px !important;
  }

  .search-block {
    display: flex;
    align-items: center;
    width: 256px;
    height: 48px;
    margin-left: 30px;
    border-bottom: 1px solid $color_grey;

    .search-input {
      border: none;
      flex-grow: 1;
    }
  }
}