@import '../../styles/colors';

.header {
  background-color: $color_black;
  height: 120px;
  padding: 20px;
  color: $color_white;
  text-align: center;

  .logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
}