.todos-page {
    .action-panel {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .filter-block {
        margin: 0 10px 10px 10px;
    }

    .page-content {
        display: flex;
        justify-content: space-between;
        margin: 40px 10px;

        .todos-list {
            flex-grow: 1;
            margin-left: 40px;
            margin-top: 10px;
        }
    }
}