.todos-page {
  .action-panel {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .filter-block {
    margin: 10px;
  }

  .tree-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px;

    .tree-content {
        flex-grow: 1;
        margin-left: 40px;
        margin-top: 10px;
    }
  }
}