@import "../../../../styles/colors";

.profile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 40px;
    margin-top: 10px;

    .profile-action-panel {
        display: flex;
        justify-content: flex-end;

        .btn {
            margin-left: 15px;
        }
    }

    .action-panel,
    .title,
    .chb-done {
        margin-bottom: 20px;
    }

    .description {
        border: 1px solid $color_grey;
    }
}