.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.home-page {
  margin: 5px 20px;

  .action-panel {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  .filter-block {
    margin: 10px 0;
  }

  .page-container {
    display: flex;
  }
}